<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

    <appSettings>
      
      <add key="DexPath" value="../DataSources/Core/Dex.csv" />
      <add key="CustomDexPath" value="../DataSources/Custom/Dex.csv" />
      <add key="MovesPath" value="../DataSources/Core/Moves.csv" />
      <add key="CustomMovesPath" value="../DataSources/Custom/Moves.csv" />
      <add key="AbilitiesPath" value="../DataSources/Core/Abilities.csv" />
      <add key="CustomAbilitiesPath" value="../DataSources/Custom/Abilities.csv" />
      <add key="TrainerContainerPath" value="../SaveData/Trainers/TrainerList.csv" />
      <add key="TrainerDirectory" value="../SaveData/Trainers/" />


    </appSettings>
</configuration>